/*Для video_cat и photo_cat*/

.main_category_item{
  flex: 1 1 250px;
  max-width: 250px;
  margin: 2px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
}

.main_category_item_link{
  cursor: pointer;
  display: block;
  flex: 1 1 250px;
}

.main_category_item_img{
  position: relative;
  max-height: 300px;
  max-width: 250px;
}

.main_category_item_img img{
  width: 100%;
}

.main_category_item_number{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
}

.main_category_item_number_name_1, .main_category_item_number_name_2{
  margin: 0;
  padding: 0;
}

.main_category_item_number_name_1{
  font-size: 1.4em;
  font-weight: bold;
}

.main_category_item_number_name_2{
  margin-bottom: 3px;
}

/*Для photo_list*/
.main_photo_list_name_rate{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  flex-flow: row nowrap;
}

.main_photo_list_name_rate_1{
  flex: 3 1 80%;
  padding: 3px;
}

.main_photo_list_name_rate_2{
  flex: 1 1 20%;
  position: relative;
}

.main_photo_list_name_rate_2 span{
  position: absolute;
  bottom: 5px;
}

.main_photo_list_name_rate_2_img{
  max-width: 18px;
  max-height: 18px;
  margin-top: 19px;
  margin-left: 24px;
}
